@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--clr-accent-orange: hsl(35, 77%, 62%);
	--clr-accent-red: hsl(5, 85%, 63%);
	--clr-background: hsl(36, 100%, 99%);
	--clr-dark: hsl(240, 100%, 5%);
	--clr-foreground: hsl(236, 13%, 42%);
	--clr-dark-foreground: hsl(233, 8%, 79%);
}

.font-title-h1 {
	font-size: clamp(2.5rem, 2.5rem + 1.111vw, 3.5rem);
  line-height: 1.1;
}
